@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  background: url("./assets/pattern-background-mobile.svg");
  background-color:hsl(225, 100%, 98%);
  background-size: cover;

}

@media (min-width: 850px) {
  #root {
    background: url("./assets/pattern-background-desktop.svg");
    background-size: cover;
    background-color:hsl(225, 100%, 98%);
    
  }
}
